[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Jae-Min Joo (JJMin)
[access "refs/for/refs/*"]
	read = group user/Eric Jae-Min Joo (JJMin)
	push = group user/Eric Jae-Min Joo (JJMin)
	label-Code-Review = -2..+2 group user/Eric Jae-Min Joo (JJMin)
	label-Verified = -1..+1 group user/Eric Jae-Min Joo (JJMin)
	rebase = group user/Eric Jae-Min Joo (JJMin)
	removeReviewer = group user/Eric Jae-Min Joo (JJMin)
	submit = group user/Eric Jae-Min Joo (JJMin)
[access "refs/heads/*"]
	read = group user/Eric Jae-Min Joo (JJMin)
	create = group user/Eric Jae-Min Joo (JJMin)
	push = +force group user/Eric Jae-Min Joo (JJMin)
	pushMerge = group user/Eric Jae-Min Joo (JJMin)
[access "refs/tags/*"]
	push = group user/Eric Jae-Min Joo (JJMin)
	push = +force group user/Eric Jae-Min Joo (JJMin)
[project]
	description = Example project on demonstrating how to use Gerrit CR
[receive]
	requireSignedOffBy = true
	requireChangeId = true
